In [ ]:
fruits = ['apple', 'banana', 'cherry']

In [1]:
fruits: dict = {'A': 'apple', 'B': 'banana', 'C': 'cherry'}
print(fruits)

{'A': 'apple', 'B': 'banana', 'C': 'cherry'}

In [9]:
results: dict = {10: 'Ali', 20: 'Ahmad', 30: 'Kamran'}
print(results)

{10: 'Ali', 20: 'Ahmad', 30: 'Kamran'}

In [13]:
results[20]

'Ahmad'

In [14]:
results[20] = 'Jahanzaib'

In [15]:
results

{10: 'Ali', 20: 'Jahanzaib', 30: 'Kamran'}

In [16]:
results.get(10)

'Ali'

In [17]:
for x in results:
    print(x)

10
20
30

In [19]:
for x in results.values():
    print(x)

Ali
Jahanzaib
Kamran

In [32]:
print(results.items())
x = list(results.items())
print(x)

dict_items([(10, 'Ali'), (20, 'Jahanzaib'), (30, 'Kamran')])
[(10, 'Ali'), (20, 'Jahanzaib'), (30, 'Kamran')]

In [36]:
y = x[1]
print(y)

(20, 'Jahanzaib')

In [35]:
y[1]

'Jahanzaib'

In [55]:
person: dict = {'name': 'Ali', 'age': 20, 'city': 'Karachi','age':40}

In [56]:
print(person.get())

{'name': 'Ali', 'age': 40, 'city': 'Karachi'}

In [40]:
for x in results.items():
    print(x)

(10, 'Ali')
(20, 'Jahanzaib')
(30, 'Kamran')

In [42]:
for i, x in results.items():
    if i == 20:
        print(f'{i} : {x}')

20 : Jahanzaib

In [43]:
students = {'Roll no': [101, 102, 103, 104, 105],
            'Name': ['Ali', 'Ahmad', 'Kamran', 'Ahad', 'Atif'],
            'Subject': ['OS', 'OOP', 'DSA', 'DB', 'TOA']}

In [45]:
print(students)

{'Roll no': [101, 102, 103, 104, 105], 'Name': ['Ali', 'Ahmad', 'Kamran', 'Ahad', 'Atif'], 'Subject': ['OS', 'OOP', 'DSA', 'DB', 'TOA']}

In [47]:
students['Name']

['Ali', 'Ahmad', 'Kamran', 'Ahad', 'Atif']

In [48]:
students['Name'][-1]

'Atif'

In [49]:
results

{10: 'Ali', 20: 'Jahanzaib', 30: 'Kamran'}

In [50]:
del results[30]

In [51]:
results

{10: 'Ali', 20: 'Jahanzaib'}

In [54]:
results.append(40, 'Kashif')

AttributeError: 'dict' object has no attribute 'append'